@font-face {
    font-display: swap;
    font-family: 'ObelixPro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ObelixPro.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

* {
    font-family: "ObelixPro", Verdana;
}

body {
    margin: 0;
    background: #1C1D21;
    user-select: none;

}

.shadow-map {
    position: absolute;
    left: 0;
    top: 100px;
    background: #ccc;
    padding: 5px;
    z-index: 9;
}

.pause_button_wrap {
    position: absolute;
    left: 0;
    top: 150px;
    color: red;
    padding: 5px;
    z-index: 9;
}


.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    overflow: auto;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.8) inset;
    padding-left: 20px;
    /* скрыли скролл*/
}

.hidden_block {
    display: none;
}

.overlay>div {
    text-align: center;
}

.startButton {

    font-size: 20px;
    background: transparent;
    color: #ffffff;
    outline: 1px solid #ffffff;
    border: 0px;
    cursor: pointer;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay>div>p {
    color: #aaa;
    font-size: 20px;
}

canvas {
    position: fixed;
}

.main_menu {

    height: 100%;
}

.main_menu>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.main_menu>div img {
    width: 90%;
    margin-bottom: 50px;
}

.main_menu button {
    align-self: center;
    justify-self: center;
}

.main_load {
    align-items: center;
}

.load_level_wrap {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
}

.load_level_wrap>div {
    max-width: 25%;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 18px;
    position: relative;
    background-color: #4c4660e0;
    box-shadow: 3px 3px 45px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
}

.load_level_wrap>div>img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.load_level_wrap>div>.level_shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 -80px 200px rgba(0, 0, 0, 0.8) inset;
}

.load_level_wrap>div>.level_text {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.load_level_wrap>div>.level_text h2 {
    margin-bottom: 5px;
}

.load_level_wrap>div>.level_text span {
    color: rgb(82, 228, 82);
    font-size: 30px;
}

.load_tubes_wrap {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
}

.load_tubes_wrap>div {
    max-width: 25%;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 18px;
    position: relative;
    background-color: #4c4660e0;
    box-shadow: 3px 3px 45px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
}

.load_tubes_wrap>div>img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.load_tubes_wrap>div>.level_shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 -80px 200px rgba(0, 0, 0, 0.8) inset;
}

.load_tubes_wrap>div>.level_text {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.load_tubes_wrap>div>.level_text h2 {
    margin-bottom: 5px;
}

.load_tubes_wrap>div>.level_text span {
    color: rgb(82, 228, 82);
    font-size: 30px;
}

.finish_window {
    align-items: center;
}

.finish_window>div {
    padding: 30px 40px;
    border: 2px solid #ccc;
    border-radius: 18px;
    position: relative;
    background-color: #4c4660e0;
    box-shadow: 3px 3px 45px rgba(0, 0, 0, 0.5);
}

.finish_head {
    font-size: 50px;
    margin-bottom: 30px;
}

.finish_you_time {
    margin-bottom: 30px;
}

.load_finish_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 0;
    width: 100%;
}

.load_finish_wrap>div {
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 20px;
    padding: 8px 24px;
    border-radius: 22px;
    margin: 6px 6px;
    display: inline-block;
    cursor: pointer;
}

.finish_again {
    background: #FF4571;
}

.finish_in_menu {
    background: #44BFA3;
}

.menu_in_game_wrap {
    align-items: center;
}

.menu_in_game_wrap>div {
    padding: 30px 40px;
    min-width: 300px;
    border: 2px solid #ccc;
    border-radius: 18px;
    position: relative;
    background-color: #4c4660e0;
    box-shadow: 3px 3px 45px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.menu_in_game_wrap .menu_in_game_wrap_head {
    font-size: 50px;
    margin-bottom: 30px;
}

.menu_in_game_wrap button {
    margin-bottom: 15px;
}

.btn {
    background: transparent;
    box-shadow: none;
    border: 2px solid rgb(190, 190, 190);
    outline: 1px solid rgb(204, 204, 204);
    outline-offset: -6px;
    padding: 20px 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover {
    background: rgb(190, 190, 190);
    box-shadow: none;
    border: 2px solid rgb(190, 190, 190);
    outline: 1px solid rgb(204, 204, 204);
    outline-offset: -6px;
    padding: 20px 20px;
    color: #4c4660e0;
    text-transform: uppercase;
    cursor: pointer;
}

.times {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    color: #fff;
    z-index: 9;
}

.current_time {
    margin-right: 40px;
}

.speed_block {
    position: absolute;
    top: 10px;
    right: 50%;
    color: #ff0000;
    font-size: 25px;
    z-index: 9;
}



.sci-fi-loader {
    position: relative;
    max-width: 3em;
    top: -70px;
}

.outer,
.middle,
.inner {
    border: 3px solid transparent;
    border-top-color: #17c;
    border-right-color: #17c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
}

.middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
}

.inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.start_time_wrap {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    z-index: 9;
}

.start_time {
    font-size: 180px;
    color: rgb(53, 25, 214);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
}